In [1]:
import numpy as np
import arviz as az
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from contourpy.util.data import simple
from scipy import stats
from scipy.special import gamma
import preliz as pz
import matplotlib as mpl
import pymc as pm

WARNING (pytensor.configdefaults): g++ not available, if using conda: `conda install m2w64-toolchain`
WARNING (pytensor.configdefaults): g++ not detected!  PyTensor will be unable to compile C-implementations and will default to Python. Performance may be severely degraded. To remove this warning, set PyTensor flags cxx to an empty string.
WARNING (pytensor.tensor.blas): Using NumPy C-API based implementation for BLAS functions.

In [2]:
plt.style.use('ggplot')
plt.rcParams["figure.figsize"] = (12,3)

In [3]:
data = pd.read_csv('credit_data.csv')
data.head()

,ID,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity,Balance
0,1,14.891,3606,283,2,34,11,Male,No,Yes,Caucasian,333
1,2,106.025,6645,483,3,82,15,Female,Yes,Yes,Asian,903
2,3,104.593,7075,514,4,71,11,Male,No,No,Asian,580
3,4,148.924,9504,681,3,36,11,Female,No,No,Asian,964
4,5,55.882,4897,357,2,68,16,Male,No,Yes,Caucasian,331

In [ ]:
x = data.Limit
y_observed = data.Balance
with pm.Model() as lin_reg_model:
    beta0 = pm.Normal('beta0', mu=x.mean(), sigma=10)
    sigma = pm.Exponential('sigma', lam=1/10)
    
    y = pm.Normal('y', mu=beta0*x, sigma=sigma, observed=y_observed)
    
    trace = pm.sample(100)

Auto-assigning NUTS sampler...
Initializing NUTS using jitter+adapt_diag...
Multiprocess sampling (4 chains in 4 jobs)
NUTS: [beta0, sigma]

Output()

In [ ]:
pm.summary(trace)

In [ ]:
pm.plot_posterior( trace );

In [ ]:
import bambi as bmb
linear_model = bmb.Model("Credit ~ Limit", data=data, family="gaussian")
linear_model_fit = linear_model.fit(draws=2000, tune=2000)